<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sisho/IdeaProjects/BDDApiTest">
        <classes>
            <class name="com.APITest.DogApiTest">
               <!-- Test process/Scenario -->
                <methods>
                   <!-- <include name="test_getAllDogs"/> -->
                    <include name="test_getBulldogInAllBreeds"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>